{% extends "base.html" %} {% block content %}
<h2>Iniciar sesión como fabricante</h2>
<div class="login">
  <form method="post" class="login_form">
    {% csrf_token %} {{ form.as_p }} {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <button type="submit" onclick="setState('maker')" class="btn btn-submit">
      Ingresar
    </button>
  </form>
  <br />
  <div class="links">
    <a href="/login_user_buyer"> Iniciar secion como comprador </a>
    <a href="/register_form_maker"> Registrate como fabricante </a>
    <a href="/register_form_buyer"> Registrate como comprador </a>
  </div>
</div>
{% endblock %}
