{% extends "base.html" %} {% block content %}
<h2>Registrate como fabricante</h2>
<div class="maker_register_form">
  <form method="POST" class="form_maker">
    {% csrf_token %} {{ form }}
    <button type="submit" class="btn-submit">Crear</button>
  </form>
  <br />
  <div class="links">
    <a href="/login_user_buyer"> Iniciar secion como comprador </a>
    <a href="/login_user_maker"> Inicia secion como fabricante</a>
    <a href="/register_form_buyer"> Registrate como comprador </a>
  </div>
</div>

{% endblock %}
