<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML</title>
    {% load static %}
  </head>
  <body>
    {% block contentProduct %}{% endblock contentProduct %}
    <script src="{% static 'js/state.js' %}"></script>
    <script src="{% static 'productManager/js/send_company.js' %}"></script>
    <script src="{% static 'productManager/js/car_validate.js' %}"></script>
  </body>
</html>
